@font-face {
    font-family: 'Pricedown';
    src: url(./pricedown\ bl.otf);
}

body {
    background-color: #23272a;
    color: white;
    font-family: 'Nunito', sans-serif;
}

#mainNavbar {
    font-size: 1.5rem;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #ffab00;
}

#mainNavbar .navbar-brand {
    font-family: 'Pricedown', sans-serif;
    color: #ffab00;
    font-size: 2rem;
}

.branding {
    font-family: 'Pricedown';
}

img {
    display: block;
}

#headingGroup span {
    color: #ffab00;
}