@font-face {
    font-family: 'Pricedown';
    src: url(./pricedown\ bl.otf);
}

body {
    background-color: #23272a;
    font-family: 'Pricedown', sans-serif;
}

#mainNavbar .navbar-brand {
    color: #ffab00;
}